body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  padding: 0;
  background-color: #f8f8f8;
}

h1 {
  color: #007bff;
}

form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="datetime-local"],
button {
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Task styles */
.text {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.text h2 {
  margin: 0;
  color: #007bff;
}

.text ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.text li {
  margin-bottom: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div a {
  margin-right: 10px;
}

li {
  color: #777;
}

li.completed {
  color: #28a745;
}

li.not-completed {
  color: #dc3545;
}
